[Desktop Entry]
Encoding=UTF-8
Name=POINT
Comment=POINT P2P Cryptocurrency
Comment[fr]=POINT, monnaie virtuelle cryptographique pair à pair
Comment[tr]=POINT, eşten eşe kriptografik sanal para birimi
Exec=merge-qt %u
Terminal=false
Type=Application
Icon=POINT128
MimeType=x-scheme-handler/POINT;
Categories=Office;Finance;
